:root {
    scroll-behavior: smooth;
    --theme-color: #fff;
    --text-color: rgb(224, 22, 22);
    --highlight-color-1: #1ecf9a;
    --highlight-color-2: #1310b6;
    --box-shadow: #164cdf80;
    --code-color: #1452cc;
    --button-color: #360da7;
    --inverse-theme-color: #20232a;
    --inverse-text-color: #fff;
}

.body {
    background-color: var(--theme-color);
    color: var(--text-color);
}

.main {
    width: 100%;
}

.pedidos {
    padding: 1rem 0;
}

.pedidos__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
}

.pedidos__titulo {
    font-size: 3rem;
    margin: 0;
}

.pedidos__pedidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.pedidos__restaurante {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* box-shadow: 0 0 0.5rem var(--code-color); */
    border: 0.25rem solid black;
    border-radius: 3rem;
    padding-bottom: 2rem;
    overflow: hidden;
    transition: all 0.5s;
}

.pedidos__restaurante:hover {
    box-shadow: 0 0 0.5rem var(--highlight-color-1), 0 0 1rem var(--highlight-color-1), 0 0 1.5rem var(--highlight-color-1);
    transform: scale(1.01);
}

.pedidos__imagen {
    display: flex;
    width: 100%;
    margin: 0;
}

.pedidos__imagen-restaurante {
    width: 100%;
}

.pedidos__container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
    padding: 0 1rem;
}

.pedidos__container-data-titulo {
    color: var(--code-color);
    margin: 0;
}

.pedidos__container-data-about {
    font-weight: 300;
    margin: 0;
}

.pedidos__container-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pedidos__container-button {
    text-decoration: none;
    font-weight: 700;
    background-color: var(--highlight-color-1);
    border: 0.1rem solid var(--highlight-color-1);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--inverse-theme-color);
    transition: all 0.5s;
}

.pedidos__container-button:hover {
    border: 0.1rem solid var(--inverse-theme-color);
    background-color: var(--theme-color);
}

.footer {
    background-color: var(--inverse-theme-color);
    color: var(--inverse-text-color);
    padding: 2rem 0;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
}

.footer-nav__credits {
    text-align: center;
    font-size: 0.8rem;
    margin: 0;
    padding-top: 0.5rem;
    box-shadow: 0 -0.25rem 0.25rem -0.25rem var(--theme-color);
}

.footer-nav__credits-author {
    color: var(--highlight-color-1);
    text-decoration: none;
}

@media (min-width: 854px) {
    .header-nav__menu-icon {
        display: none;
    }
    .header-nav__link-list {
        position: static;
        flex-direction: row;
        width: auto;
        background-color: inherit;
    }
    .header-nav__link {
        font-size: 1rem;
        color: var(--text-color);
    }
    .pedidos-container {
        display: flex;
        align-items: center;
        padding: 0;
        max-width: 1024px;
        margin: auto;
    }
    .pedidos__pedidos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .footer-nav {
        padding: 0;
        max-width: 1024px;
        margin: auto;
    }
    .footer-nav__link-list {
        gap: 1.5rem;
    }
    .footer-nav__link {
        width: 2rem;
    }
}